@import url('https://fonts.googleapis.com/css?family=Revalia|Roboto');

*{
  font-family: 'Roboto', sans-serif;
}

body{
    background-color: white;
    min-height: 100vh;
}

.container{
  background-color: rgb(239, 236, 255);
  padding: 15px;
  box-shadow: 0 0.5px 0 0 #ffffff inset, 0 1px 2px 0 #B3B3B3
}
.wrapper{
    background-color: rgb(239, 236, 255);
    box-shadow: 0 0.5px 0 0 #ffffff inset, 0 1px 2px 0 #B3B3B3
}

.column{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button{
  background-color: rgb(51, 0, 51);
  color: rgb(255, 255, 153);
  border: none;
  height: 30px;
  width: 100px;
  font-size: 20px;
}

.find-button{
  background-color: rgb(206, 197, 237);
  color:rgb(51, 0, 51);
  height: 100%;
  padding: 6px 0;
}

button:hover{
  background-color: white;
  color:rgb(51, 0, 51);
}

button:active{
  background-color: white;
  color:rgb(51, 0, 51);

}

button:focus{
  border: 2px solid rgb(51, 0, 51);
  outline: 0;
}

.input{
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.title{
  color: rgb(51, 0, 51);
}

.home-main{
  height: 100vh;
  background-image:url('images/hero-0.jpg');
  background-position: center;
  background-size: cover;
}

.home-main-overlay{
  height: 100%;
  width: 100%;
  background-color: rgba(255,255,255,0.7);
  margin: 0;
  display: flex;
  flex-direction: column;
}

.home-main-overlay>.columns{
  height: 100%;
}

.home-main-overlay>.columns>.column{
  align-items: center;
}

.home-main-overlay>.columns>.column>h1{
  color: rgb(51, 0, 51);
  font-family: 'Revalia', cursive;
  font-size: 100px;
}

.home-main-overlay>.columns>.column>form{
  width: 70%;
}

.home-main-form-item{
  height: 50px;
}

.home-rec-events{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5px;
  background-color: rgba(0,0,0,0.6);
}

.home-rec-event{
  margin: 5px 0;
  color: rgb(255, 255, 153);
  font-weight: bold;
  width: 28%;
}

.logo{
  color: rgb(255, 255, 153);
  padding: 0.5rem 0.75rem;
  font-family: 'Revalia', cursive;
}

.search-box{
  border-radius: 2px;
}

.navbar{
  background-color: rgb(51, 0, 51);
  position:sticky;
  top: 0;
}

.navbar-item{
  color: white;
}

.index-card{
  margin-top: 20px;
  box-shadow: 0 0.5px 0 0 #ffffff inset, 0 1px 2px 0 #B3B3B3;
}

.venue-index-card{
  width:70%;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

.venue-search-modal{
  background-color: white;
  display: inline-block;
  position: relative;
  z-index: 40;
  margin: auto;
}

.index-card:active{
  box-shadow: 0 0.3px 0.3px 0 #B3B3B3;
}

.event-index-card{
  height: 200px;
}

.show-body{
  max-height: 75vh;
}

.event-image{
  object-fit: cover;
  max-height: 70%;
}

.event-meta{
  display: flex;
}

.event-meta>*{
  color: grey;
}

.event-meta>div{
  width: 20%;
  text-align: center;
}

.event-organiser{
  font-weight: bold;
}

.event-show-artist{
  color: rgb(51, 0, 51)
}

.fas{
  width: 40px;
}

.navbar-end>.search-bar>button{
  display: none;
}

.navbar-end>.search-bar>input{
  height: 70%;
  margin: 0 10px;
  width: 300px;
}


.profile-left{
  display: flex;
 justify-content: flex-start;
  flex-direction: column;
}

.external-event{
  display: flex;
 justify-content: flex-start;
  flex-direction: column;
}

.search-results{
  max-width: 60vw;
  margin: 0 auto;
}

.search-result{
  margin: 10px;
  padding: 15px;
  box-shadow: 0 0.5px 0 0 #ffffff inset, 0 1px 2px 0 #B3B3B3;
}

.upcoming{
  margin-top: 50px;

}
.upVevents{
  display: flex;
  justify-content: space-around;
}

.upVevents>.column{
  align-items: center;
}
.uevents{
  background-image: url("https://images.unsplash.com/photo-1478147427282-58a87a120781?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
  background-size: cover;
  height:200px;

  background-repeat: no-repeat;
}
.cards-slider-wrapper{
  display: flex;

  .card{
    flex:1;
    min-width: 400px;
  }
}

.field{
  align-items: center;
  padding-right: 10px;
}
.cards-slider {
  position:relative;
  max-width: 800px;
  margin :0 auto;

  border for active property
  &:after{
    content: '';
    display: block;
    width: 100%;
    height: 200px;
    outline:5px solid #61DAFE;
    position: absolute;
    top:0;
    left:0;
  }
}

#map {
  padding-top: 10px;
   position:static; ;
    width: 100%; height:100%; }
