*{
  font-family: 'Roboto', sans-serif;
}

.box-shadow{
  background-color: hsl(0, 0%, 98%);
  padding: 15px;
  box-shadow: 0 0.5px 0 0 #ffffff inset, 0 1px 2px 0 #B3B3B3
}

.column{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button{
  background-color: rgb(51, 0, 51);
  color: rgb(255, 255, 153);
  border: none;
  height: 30px;
  width: 100px;
}

.input{
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.title{
  color: rgb(51, 0, 51);
}

.home-main{
  height: 90vh;
  background-image:url('images/hero-0.jpg');
  background-position: center;
  background-size: cover;
}

.home-main-overlay{
  height: 100%;
  width: 100%;
  background-color: rgba(255,255,255,0.7);
  margin: 0;
}

.home-main-overlay>.column{
  align-items: center;
}

.home-main-overlay>.column>h1{
  color: rgb(51, 0, 51);
  font-family: 'Revalia', cursive;
  font-size: 100px;
}

.home-main-overlay>.column>form{
  width: 60%;
}

.logo{
  color: rgb(255, 255, 153);
  padding: 0.5rem 0.75rem;
  font-family: 'Revalia', cursive;
}

.search-box{
  border-radius: 2px;
}

.navbar{
  background-color: rgb(51, 0, 51);
  position:sticky;
  top: 0;
}

.navbar-item{
  color: white;
}

.index-card{
  margin: 20px;
}

.event-index-card{
  height: 200px;
}

.show-body{
  max-height: 55vh;
}

.event-image{
  object-fit: cover;
  max-height: 100%;
}

.event-meta{
  display: flex;
}

.event-meta>*{
  color: grey;
}

.event-meta>div{
  width: 20%;
  text-align: center;
}

.event-organiser{
  font-weight: bold;
}

.event-show-artist{
  color: rgb(51, 0, 51)
}

.upcoming{
  margin-top: 80px;

}
.upVevents{
  display: flex;
  justify-content: space-around;
}
.uevents{
  background-image: url("https://images.unsplash.com/photo-1478147427282-58a87a120781?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
  background-size: cover;
  border:1px solid lightblue;
  height:200px;

  background-repeat: no-repeat;
}
.fas{
  width: 40px;
}


.search-results{
  background-color: white;
  max-width: 60vw;
  margin: 0 auto;
}

#map { position:absolute; ; top:0; bottom:0; width: 25%; height:100% }
